.about {
   // .about__title
   &__title {
      margin-top: 100px;
      margin-bottom: 46px;
      font-weight: 500;
      font-size: 36px;
      line-height: 130%;
      text-align: center;
      color: #1F1E1E;
   }
   // .about__map
   &__map {
      margin-bottom: 100px;
   }
   // .about__block
   &__block {
      display: flex;
      margin-bottom: 100px;
   }
   // .about__text
   &__text {
      padding-right: 35px;
      flex: 0 1 44%;
   }
   // .about__subtitle
   &__subtitle {
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 25px;
   }
   // .about__discription
   &__discription {
      margin-bottom: 25px;
      font-size: 18px;
   }
   // .about__more
   &__more {
      font-size: 16px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #C4C4C4;
   }
   // .about__video
   &__video {
   }
}

.photo-gallery {
   color: #FFFFFF;
	position: relative;
	background-color: #886239;
   // .photo-gallery__top
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 45px;
      margin-bottom: 40px;
   }
   // .photo-gallery__title
   &__title {
      font-weight: 500;
      font-size: 36px;
      line-height: 130%;
   }
   // .photo-gallery__partition
   &__partition {
      font-size: 16px;
      line-height: 19px;
      text-decoration-line: underline;
      margin-left: auto;
   }
   // .photo-gallery__arrows-block
   &__arrows-block {
   }
   // .photo-gallery__slider
   &__slider {
      margin-left: -18px;
      margin-right: -18px;
      padding-bottom: 100px;
   }
   &__item {
      margin: 15px;
      display: inline-block;
   }
}
